




.create_main{
    padding: 100px 0;
    background-color: 
    #F4F6FC;
}


.create_text h6{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #282938;
}
.create_text h2{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #000000;
    font-size: 48px;
    line-height: 64px;
}
.create_text p{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #282938;
}

.create_icon i{
    margin: 0 10px;
    color: #282938;
}
.create_icon i:hover{
    color: blue;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}


@media(max-width:575px){
    .create_main {
        padding: 50px 0;
    }
    .create_text h2 {
        font-size: 34px;
        line-height: 59px;
    }
}