.main_manu .mx-auto a{
    padding: 16px !important;
    color: #BBBBCB !important;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
}
.main_manu .mx-auto a:hover{
    color: #FCD980 !important;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.main_manu{
    background-color: #1C1E53;
}
.con {
    border: 1px solid #F4F6FC !important;
    padding: 16px 25px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.con a{
    color: #BBBBCB;
}
.con:hover{
    background-color:  #FCD980;
    color: #1C1E53;
}
.con a:hover{
    color: #1C1E53;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}
@media(max-width:991.99px){
    .navbar-toggler{
        font-size: var(--bs-navbar-toggler-font-size);
        line-height: 1;
        color: #F4F6FC !important;
        background-color: #ffffff !important;
        border: var(--bs-border-width) solid #ffffff !important;
    }
}
